body {
    font-family: 'Courier New', Courier, monospace;
}

.page-wrap {
    background-color: antiquewhite;
    min-height: 100vh;
}

.container-lg {
    max-width: 1100px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;

}

h1 {
    color: blueviolet;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

img {
    padding-top: 40px;
}

figcaption {
    color: saddlebrown;
    font-weight: 400;
    font-size: 20px;

}

a {
    text-decoration: none;
    color: darkgreen;
    font-weight: 700;
    font-size: 20px;
}